body {
    font-family: 'Syne Tactile', sans-serif; 
    font-size: 14px;
    white-space: nowrap; 
    position: relative;
    margin: 0;
}

#chartContainer {
    float: center;
    width: 900px;
    margin-right: 60px;
    position: fixed;
}

#listContainer { 
    margin-bottom: 20px; 
    
    position: relative;
}

canvas {
    width: 100% !important;
    height: 400px !important;
}

#colorList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
   
}

#colorList li {
    margin: 5px 0;
    padding: 5px;
   
}

#colorList li:hover {
  transition: background-color 0.3s ease;
}

/* Clear floats if necessary */
#listContainer::after,
#chartContainer::after {
    content: "";
    display: table;
    clear: both;
}

#colorInput {
    width: 50%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    margin-right: 10px; 
}

#addColorBtn {
    padding: 10px 15px; 
    background-color: #ff69b4; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

#addColorBtn:hover {
    background-color: #ff1493; /* Darker pink on hover */
}

#historyContainer {
    margin-top: 20px;
    display: none;
}

#historyList {
    list-style-type: none;
    padding: 0;
}

#historyList li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
}

.color-dot {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

#colorList li:hover .color-dot {
    transform: scale(1.2); /* Enlarge the dot on hover */
}


#colorList li:hover {
    background-color: #ffe0f0; /* Light pink on hover */
    transform: scale(1.02); /* Slightly enlarge the item */
    transition: background-color 0.3s ease, transform 0.2s ease;
}
