body {
  --paged-layout: booklet;
}
@media print {
  @page {
    size: 125mm 200mm;
    margin: 0;
    /*
    --bleed & crop marks--
    bleed: 3mm;
    marks: crop; 
    --page numbers--
    @bottom-center {
      content: counter(page);
    }
    */
  }
  @page:left {
/*				background-color: red;*/
  }
  @page:right {
/*				background-color: green;*/
  }
}
article {
  break-after: page;
  font-size: 40px;
  font-style: bold;
  text-align: center;
}
